.header {
  position: fixed;
  top: 0;
  width: 100%;
  min-height: 70px;
  z-index: 3000;
  display: flex;
  align-items: center;
  padding-right: 20px;
  background: hsl(250, 37%, 25%);
}

.header-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.8rem;
  font-weight: 700;
  color: white;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 15px;
  margin: 10;
  padding-left: 10px;
  list-style: none; 
}
.nav-links a {
  text-decoration: none;
  color: white; 
  margin-left: 20;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: rgb(81, 81, 97);
}
